#cities {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left:auto; 
    margin-right:auto;
  }
  
  #cities td, #cities th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #cities tr:nth-child(even){background-color: #f2f2f2;}
  
  #cities tr:hover {background-color: #ddd;}
  
  #cities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(17, 3, 68);
    color: white;
  }

  #cities td {
      color: black;
  }